.password-page{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.password-form{
    width: 100%;
    max-width:400px;
    padding: 20px;
    background-color: var(--color1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.342);
    border-radius: 5px;
    margin: 10px 0;
}


.selectedPath{
    width: 100%;
    background-color: var(--color2);
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.pass-field{
    display: flex;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
    justify-content: space-between;
}

.pass-field label{
    width: 30%;
}

.pass-field input{
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}


.login{
    background-color: var(--color3);
    color: #fff;
    border: none;
    cursor: pointer;
    margin: auto;
    padding: 10px;
    width: 100px;
}