* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --color1: #291d6d;
  --color2: #0e092b;
  --color3: #704cff;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--color2);
  color: white;
  font-family: cursive;
}

.teacher-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--color3);
  color: white;
  position: sticky;
  top: 0;
}

.logo {
  filter: drop-shadow(5px 5px 5px rgb(248, 0, 215));
}

td,
button {
  padding: 5px 10px;
  margin-right: 5px;
}

button {
  cursor: pointer;
}

.nav-name {
  font-size: 15px;
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.footer {
  width: 100%;
  background-color: var(--color3);
  padding: 20px 10px;
  color: white;
  text-align: center;
  margin-top: auto;
}

form {
  background-color: var(--color1);
}

.btn {
  background-color: var(--color3);
  color: #fff;
  border: none;
  cursor: pointer;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  /* box-shadow: 0 0 5px black; */
  transition: all 0.2s;
  border: none !important;
  margin: 10px 0;
  font-weight: 600;
  font-size: 16px;

  user-select: none; /* For modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none;
}

.btn:hover {
  box-shadow: inset 0 0 20px rgb(255, 255, 255);
}

button,
image,
a {
  user-select: none; /* For modern browsers */
  -webkit-user-select: none; /* For Safari */
  -moz-user-select: none; /* For Firefox */
  -ms-user-select: none;
}

.class-details {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 10px;
  background-color: var(--color1);
  box-shadow: 0 0 5px black;
  border-radius: 10px;
}

.class-details table {
  width: fit-content !important;
  margin: 10px auto;
  border-collapse: separate;
  color: black;
}

.class-details table tr {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.295);
  border-radius: 5px;
  background-color: #ffffffa1;
}
.class-details table td {
  border: none;
  padding: 3px 10px;
}

.class-details table tr td:nth-child(even) {
  background-color: #f5f5f5a2;
}

/* th,
td {
  padding: 3px 10px;
  text-align: center;
  border: 1px solid #6b6b6b;
} */

.class-details table td {
  font-size: 17px;
  font-weight: 600;
}

/* not found=================================================================== */
.not-found-body {
  margin: auto 0;
  padding: 0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.error-container {
  text-align: center;
  padding: 40px;
  background-color: var(--color1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error-content {
  margin-bottom: 20px;
  color: #ffffff;
}

.error-content h1 {
  font-size: 100px;
  margin: 0;
  color: var(--color3);
}

.error-content h2 {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}

.error-content p {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.home-button {
  text-decoration: none;
  background-color: var(--color3);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.home-button:hover {
  background-color: #ff4b4b;
}

.error-illustration img {
  max-width: 100%;
  height: auto;
}

/* not found============================================================================ */



/* error============================================================================ */
.error-body {
  margin: 0;
  padding: 0;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}

.sw-error-page-container {
  text-align: center;
  padding: 40px;
  background-color: var(--color1);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sw-error-page-content {
  margin-bottom: 20px;
  color: #ffffff;
}

.sw-error-page-title {
  font-size: 72px;
  margin: 0;
  color: var(--color3);
}

.sw-error-page-subtitle {
  font-size: 32px;
  margin: 0;
  margin-bottom: 10px;
}

.sw-error-page-text {
  font-size: 18px;
  margin: 0;
  margin-bottom: 20px;
}

.sw-error-page-button {
  text-decoration: none;
  background-color: var(--color3);
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sw-error-page-button:hover {
  background-color: #ff4b4b;
}

.sw-error-page-illustration img {
  max-width: 100%;
  height: auto;
}
/* error============================================================================ */

.table-container {
  scrollbar-width: thin;
  scrollbar-color: #15ff00 var(--color1);
}

::-moz-selection {
  color: var(--color3);
  background: var(--color1);
}

::selection {
  color: #ffffff;
  background: #ff0062;
}
